/* CSS Document */
@charset "utf-8";
body, html {width:100%;height:100%;margin:0;padding:0}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,table,td,th,img{margin:0;padding:0;border:0;}
ul,ol{list-style-type:none;}
li{list-style:none;}
body {
	text-align:center;
	background: url(../img/background2.jpg) repeat 0px 1px;
}
a:visited  {color:#000000;text-decoration:none;}
a:link {color:#000000;text-decoration:none;}
a:active {color:#F60; text-decoration:none;}
.change{ 
	/*背景图颜色渐变*/
	width:100%; 
	height:600px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f6f6f8,endColorStr=#b8c4cb); /*IE*/ 
	background:-moz-linear-gradient(top,#f6f6f8,#b8c4cb);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f6f6f8), to(#b8c4cb));/*谷歌*/ 
} 
.pageNum{
	color:#000000;
	font-size:14px;
}

#layout{ 
	width:970px;
	margin:0 auto;
	text-decoration:none; 
	font-family:"微软雅黑"; 
	font-size:18px; 
	text-align:left !important; 
	text-align:center; 
}
#layout1{ 
	width:1100px;
	text-decoration:none; 
	font-family:"微软雅黑"; 
	font-size:18px; 
	text-align:left !important; 
	text-align:center; 
}
.searchBlock{
	width:250px; 
	height:30px;
	 border-color:#518900;
	  border-style:double;
	}
.searchButton{
	background-color:#518900;
	color:#FFFFFF;
	width: 60px; 
	height: 35px;
	border-radius:2px;
	border:0px;
	font-size:14px;
	font-weight:500;
	CURSOR: pointer;/*光标类型*/
	}
.filterButton{
	background-color:#f60;
	color:#FFFFFF;
	width: 130px; 
	height: 35px;
	border-radius:2px;
	border:0px;
	font-size:16px;
	font-weight:800;
	margin-right:90px;
	CURSOR: pointer;/*光标类型*/
	}
.gray12{
	font-size:12px;
	color:#999999;
	font-weight:150;
	}
.gray14{
	font-size:14px;
	color:#999999;
	font-weight:250;
	line-height:25px;
	}
.gray15{
	font-size:15px;
	color:#999999;
	font-weight:100;
	}
.darkGray13{
	font-size:13px;
	color:#444;
	font-weight:150;
	}
.black12{
	font-size:12px;
	color:#;
	font-weight:100;
	}
.black14{
	font-size:14px;
	color:#000000;
	font-weight:200;
	line-height:25px;
	}
.black14Weight{
	font-size:14px;
	color:#000000;
	font-weight:600;
	line-height:30px;
	}
.black14WeightArial{
	font-size:14px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	line-height:30px;
	}
.black15Weight{
	font-size:15px;
	color:#000000;
	text-align:center;
	font-weight:600;
	line-height:30px;
	}

.orange16{
	font-size:16px;
	font-weight:600;
	background-color:#CCCCCC;
	width:96%;
	padding-top:6px;
	height:30px;
	color:#EB6100;
	margin:5px 0 25px 20px;
	}
.orange14{
	font-size:14px;
	font-weight:600;
	width:96%;
	padding-top:6px;
	height:30px;
	line-height:35px;
	color:#EB6100;
	margin:10px 0 25px 20px;
	}
.orange12{
	font-size:12px;
	font-weight:500;
	width:96%;
	padding-top:6px;
	height:30px;
	line-height:35px;
	color:#EB6100;
	margin:10px 0 25px 20px;
	}
.orange13{
	font-size:13px;
	font-weight:600;
	width:96%;
	height:30px;
	line-height:35px;
	color:#EB6100;
	}
.green17{
	font-size:17px;
	font-weight:500;
	width:96%;
	padding-top:6px;
	height:30px;
	line-height:35px;
	color:#518900;
	margin:10px 0 25px 20px;
	}
.green12{
	font-size:12px;
	font-weight:500;
	width:96%;
	font-weight:600;
	color:#518900;
	}
.p_half{
	display: inline-block;
    width: 49%;
}
.p_half a:hover{
	color:#f60;
	background-color:#f3edc2
	}
.p_half1{
	display: inline-block;
    width: 100%;
}
.p_half1 a:hover{
	color:#f60;
	background-color:#f3edc2
	}

.select a:hover{
	color:#f60;
	background-color:#f3edc2
	}
.apply{
	background-color:#F60;
	color:#FFFFFF;
	font-family:微软雅黑;
	border-radius:3px;
	width:120px;
	height:40px;
	BORDER-LEFT: #ff9966 1px solid;/*左边框*/
	BORDER-RIGHT: #ff9966 1px solid;/*右边框*/
	BORDER-TOP: #ff9966 1px solid;/*上边框*/
	BORDER-BOTTOM: #ff9966 1px solid;/*下边框*/
	PADDING-LEFT: 2px;/*左间隙*/
	PADDING-RIGHT: 2px; /*右间隙*/
	PADDING-TOP: 2px;/*上间隙*/
	PADDING-BOTTOM: 2px;/*下间隙*/
	FONT-SIZE: 16px;/*字号*/
	CURSOR: pointer;/*光标类型*/
	
	}
.cancel{
	background-color:#999;
	color:#FFFFFF;
	font-family:微软雅黑;
	border-radius:3px;
	width:120px;
	height:40px;
	BORDER-LEFT: #999 1px solid;/*左边框*/
	BORDER-RIGHT: #999 1px solid;/*右边框*/
	BORDER-TOP: #999 1px solid;/*上边框*/
	BORDER-BOTTOM: #999 1px solid;/*下边框*/
	PADDING-LEFT: 2px;/*左间隙*/
	PADDING-RIGHT: 2px; /*右间隙*/
	PADDING-TOP: 2px;/*上间隙*/
	PADDING-BOTTOM: 2px;/*下间隙*/
	FONT-SIZE: 16px;/*字号*/
	CURSOR: pointer;/*光标类型*/
	
	}

.page .currentPage{
	background: none repeat scroll 0 0 #72A10E;
    border: 1px solid #72A10E;
    color: #FFFFFF;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 26px;
	}
.page .notCurPage{
	background: none repeat scroll 0 0 #eee;
    border: 1px solid #bbb;
    color: #000;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 26px;
	}