/* CSS Document */
@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
	}
th{
	font-size:16px;
	}
.fenlei{
	font-size:14px;
	}
p{
	margin:0px;
	font-size:16px;
	line-height:160%;
	}
.stars{
	font-size:12px;
	color:#666666;
	}

.page{
	margin:10px;
	width:960px;
	float:left;
	text-decoration:none; 
	font-family:"微软雅黑";
	font-size:14px;
	color:#000;
	font-weight:100;
	text-align:center;
	}
.page a{
	display:inline-block;
	white-space:nowrap;
	height:24px;
	text-decoration:none;
	color:#666;
	border-radius:2px;
	cursor: pointer;/*光标类型*/;
	}
.page a:hover{
	color:#f60;
	background-color:#f3edc2
	}
.navList a:hover{
	color:#f60;
	background-color:#f3edc2
	}

/* select */
.select{
	padding:5px 10px;
	border:#ddd 1px solid;
	border-radius:4px;
	width:80%;
	height:180px;
	margin:0.1% auto;
	font-size:13px
	}
.select li{
	list-style:none;
	padding:10px 0 5px 100px
	}
.select .select-list{
	border-bottom:#eee 1px dashed
	}
.select dl{
	zoom:1;
	position:relative;
	line-height:24px;
	}
.select dl:after{
	content:" ";
	display:block;
	clear:both;
	height:0;
	overflow:hidden
	}
.select dt{
	width:100px;
	margin-bottom:5px;
	position:absolute;
	top:0;left:-100px;
	text-align:right;
	color:#666;
	height:24px;
	line-height:24px
	}
.select dd{
	float:left;
	display:inline;
	margin:0 0 5px 5px;
	}
.select span{
	display:inline-block;
	white-space:nowrap;
	height:24px;
	padding:0 10px;
	text-decoration:none;
	color:#000;
	border-radius:2px;
	cursor: pointer;/*光标类型*/;
	}
.select span:hover{
	color:#f60;
	background-color:#f3edc2
	}
.select .selected span{
	color:#fff;
	background-color:#f60
	}
.select-result dt{
	font-weight:bold
	}
.select-no{
	color:#999
	}
.select .select-result span{
	padding-right:20px;
	background:#f60 url("../img/close.gif") right 9px no-repeat
	}
.select .select-result span:hover{
	background-position:right -15px
	}
.navList{
	width:960px;
	height:45px;
	margin:0 0 0 10px;
	}
.navList ul{
	margin-left:20px;
	}
.navList li{
	float:left;
	}
.navList .selected{
	color:#fff;
	background-color:#f60;
	margin-top:10px;
    border: 1px solid #ddd;
	border-radius:3px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100px;
	font-size:14px;
	}
.navList .navTitle{
	margin-top:10px;
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    color: #000;
	border-radius:3px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100px;
	font-size:14px;
	}
	