/* CSS Document */

#movieTitle{
	color:#FFFFFF;
	margin-top:20px;
	}
	
.movieDetail{
	background-color:#EEEEEE;
	width:1030px;
	height:900px;
	margin:0 auto; 
	clear:both; 
	border-radius: 2px;
	}
.movieDetail2{
	background-color:#FFFFFF;
	text-align:left;
	font-family:微软雅黑;
	font-size:14px;
	width:970px; 
	height:850px;
	float:none; 
	margin:0 auto;
	}
.jieshaoT{
	color:#518900;
	font-size:16px;
	line-height:15px;
	font:微软雅黑;
	font-weight:600;
	}
.greySmall{
	color:#666666;
	font-size:14px;
	}
.xuanze{
	background-color:#F60;
	color:#FFFFFF;
	font-family:微软雅黑;
	border-radius:3px;
	width:300px;
	height:50px;
	BORDER-LEFT: #ff9966 1px solid;/*左边框*/
	BORDER-RIGHT: #ff9966 1px solid;/*右边框*/
	BORDER-TOP: #ff9966 1px solid;/*上边框*/
	BORDER-BOTTOM: #ff9966 1px solid;/*下边框*/
	PADDING-LEFT: 2px;/*左间隙*/
	PADDING-RIGHT: 2px; /*右间隙*/
	PADDING-TOP: 2px;/*上间隙*/
	PADDING-BOTTOM: 2px;/*下间隙*/
	FONT-SIZE: 22px;/*字号*/
	CURSOR: pointer;/*光标类型*/
	
	}
	
	
